.bordered {
  border: 1px solid black; /* Establece un borde sólido de 1 píxel de ancho y color negro */
  padding: 10px; /* Añade un espacio interno de 10 píxeles entre el contenido y el borde */
  margin: 2px;
}

p,
h2 {
  margin: 0;
}
